{% extends "weatherstation/base.html" %}
{% load humanize %}

<!-- BLOCK ORDER according to base.html -->
<!-- Style // Nav Bar // Side Bar // Main Content // Javascript-->

<!-- ########################################### STYLE ################################################################### -->
{% block style %}
<!-- DataTable Bootstrap -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.bootstrap4.min.css">
<!-- Scroller -->
<link rel="stylesheet" href="https://cdn.datatables.net/scroller/2.0.3/css/scroller.bootstrap4.min.css">
<!-- bootstrap-datepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<style>
</style>
{% endblock style %}
<!-- ########################################### NAV BAR ################################################################### -->
{% block navbar %}
<h4>Logs History</h4>
<!-- Right navbar -->
<ul class="navbar-nav ml-auto">
{% endblock navbar %}
<!-- ########################################### SIDE BAR ################################################################### -->
{% block sidebar %}
<li class="nav-item">
  <a href="{% url 'index' %}" class="nav-link">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p>
      Dashboard
    </p>
  </a>
</li>

<li class="nav-item">
  <a href="{% url 'logs' %}" class="nav-link active">
    <!-- <i class="nav-icon fas fa-clipboard-list"></i> -->
    <i class="nav-icon fas fa-history"></i>
    <p>
      Logs History
    </p>
  </a>
</li>

{% endblock sidebar %}
<!-- ########################################### MAIN CONTENT ################################################################### -->
{% block content %}
<section class="content">
  <div class="container-fluid">
    <br>

    <div class="col-md-12">
      <div class="input-group input-daterange">

        <input type="text" id="min-date" class="form-control date-range-filter" data-date-format="yyyy-mm-dd" placeholder="From:">

        <div class="input-group-prepend">
          <span class="input-group-text">To</span>
        </div>

        <input type="text" id="max-date" class="form-control date-range-filter" data-date-format="yyyy-mm-dd" placeholder="To:">

      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-bordered table-hover display responsive nowrap"  width="100%">
              <thead>

                <th>Time</th>
                <th hidden>Date</th>
                <th>Temperature (°C)</th>
                <th>Humidity (%)</th>
                <th>PM<sub>2.5</sub> (µg./m<sup>3</sup>)</th>
                <th>PM<sub>10</sub> (µg./m<sup>3</sup>)</th>
              </thead>

              <tbody>
                {% for test in stationlogs %}
                <tr role="row">

                  <td>{{ test.station_recorded_time|date:"j M Y | g:i:s A" }}</td>
                  <td hidden>{{ test.station_recorded_time|date:"Y-m-d" }}</td>
                  <td>{{ test.station_temperature }}</td>
                  <td>{{ test.station_humidity }}</td>
                  <td>{{ test.station_pm25 }}</td>
                  <td>{{ test.station_pm10 }}</td>
                </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
        </div>


        <!-- <div class="card-body">
          <div class="col-md-12">
            <div class="table-responsive">

              <table id="my-table" class="table table-bordered display responsive nowrap"  width="100%">
                <thead>
                  <th>Time</th>
                  <th>Temperature (°C)</th>
                  <th>Humidity (%)</th>
                  <th>PM<sub>2.5</sub> (µg./m<sup>3</sup>)</th>
                  <th>PM<sub>10</sub> (µg./m<sup>3</sup>)</th>
                </thead>

                <tbody>
                  {% for test in stationlogs %}
                  <tr role="row">
                    <td>{{ test.station_recorded_time|date:"Y-m-d" }}</td>
                    <td>{{ test.station_temperature }}</td>
                    <td>{{ test.station_humidity }}</td>
                    <td>{{ test.station_pm25 }}</td>
                    <td>{{ test.station_pm10 }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div> -->


      <!--</div> End of card-body -->
    <!--</div> End of card -->
  </div> <!-- End of container-fluid -->
</section>
{% endblock content %}
<!-- ########################################### JAVASCRIPT ################################################################### -->
{% block script %}
<!-- DataTable for Bootstrap 4 -->
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>
<!-- needed to use moment.js for our date sorting-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.22/sorting/datetime-moment.js"></script>
<!-- Scroller -->
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.3/js/dataTables.scroller.min.js"></script>
<!-- bootstrap-datepicker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {


    // *************************************
    // Bootstrap datepicker
    $('.input-daterange input').each(function() {
      $(this).datepicker('clearDates');
    });

    //Set up your table
    // table = $('#my-table').DataTable({
    //   paging: false,
    //   info: false
    // });

    $.fn.dataTable.moment( 'D MMM YYYY | h:mm:ss A' );

    table = $('#bootstrapdatatable').DataTable({
      "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "iDisplayLength": 10,
      "ordering" : true,
      "order": [[ 0, "desc" ]],
      responsive: true,
      // deferRender:    true,
      // scrollY:        400,
      // scrollCollapse: true,
      // scroller:       true,
      // bFilter: false,
    });

    // Extend dataTables search
    $.fn.dataTable.ext.search.push(
      function(settings, data, dataIndex) {
        var min = $('#min-date').val();
        var max = $('#max-date').val();
        var createdAt = data[1] || 0; // Our date column in the table

        if (
          (min == "" || max == "") ||
          (moment(createdAt).isSameOrAfter(min) && moment(createdAt).isSameOrBefore(max))
        ) {
          return true;
        }
        return false;
      }
    );

    // Re-draw the table when the a date range filter changes
    $('.date-range-filter').change(function() {
      table.draw();
    });

    $('#my-table_filter').hide();

  }
);
</script>
{% endblock script %}
